@model CreateProgramDayViewModel

@{
    ViewData["Title"] = "Create program day";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-lg-4 ">
            <h2 class="text-center">Create program day</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Program day name...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <h5>Add exercises to the program day:</h5>

                <div class="form-group mb-3">
                    <table>
                        @for (int i = 0; i < Model.Exercises.Capacity; i++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(it => Model.Exercises[i].IsChecked, new { Style = "vertical" })
                                </td>
                                <td>
                                    @Html.HiddenFor(x=> Model.Exercises[i].Id)
                                    @Html.DisplayFor(it=> Model.Exercises[i].ExerciseName):
                                    @Html.DisplayFor(it => Model.Exercises[i].ExerciseSets) sets
                                    @Html.DisplayFor(it => Model.Exercises[i].ExerciseReps) reps
                                    at @Html.DisplayFor(it => Model.Exercises[i].ExerciseWeight)
                                </td>

                            </tr>
                        }
                    </table>
                </div>

                <input class="btn btn-primary" type="submit" value="Hit the bar!"></input>
                <button class="btn btn-primary" role="button" asp-area="" asp-controller="ProgramDays" asp-action="All">See all program days</button>
            </form>
        </div>
    </div>
</div>
